<!doctype html>
<html lang="en">
    <head>
        <title>SRP</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <p>Title under here</p>
        <h1 class="ws-title">{{title}}</h1>
    </body>
</html>
